<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">

    <title>Author's Page</title>
    
  </head>
  <h1> 
      <a>Omar & Eric's Travel Forum</a>
  </h1>
  <body>
    <a>
    <h2>Contibuting Authors</h2>
  </a>
    <ul >
        <a class="names">
          <li > Bob Smith</li>
          <li >Sally Ride</li>
          <li >Captain Kangaroo</li>
          <li >Mr. Greenjeans</li>
          <li><a class="names forlink" href="./home-page.html">Back</a></li>
        </a>
    </ul>
  
        

    


  </body>
</html>