<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">

    <title>Destinations Page</title>
    <h1> 
      <a>Travel Blog</a>
    </h1>
  </head>
  <body>
    <a>
      <h2>Destinations</h2>
    </a>
      <ul >
        <a class="names">
          <li>Chicago</li>
          <li>London</li>
          <li>Istanbul</li>
          <li>Shanghai</li>
          <li><a class="names forlink" href="./home-page.html">Back</a></li>
        </a>
    </ul>
        

    


  </body>
</html>