{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">

    <title>Home Page</title>
    <h1> 
      <a>Omar & Eric's Travel Forum</a>
  </h1>
  </head>
  <body>

    <ul>
      <a class="names">
        <li><a class="names forlink" href="/blog-post-page">Blog Posts</a></li>
        <li><a class="names forlink" href="/view-posts-page">View Posts</a></li>
        {{!-- <li><a class="names forlink" href="./destinations-page.html">Destinations</a></li>
        <li><a class="names forlink" href="./tags-page.html">Tags</a></li> --}}
      </a>
    </ul>


        

    


  </body>
