a {
    font-family: "Bookman Old Style";
    /* text-align: center; */
}


body {
    background-color: lightsalmon;
    background-image: url("palm-tree.png");
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    
    }

    .forlink{
            }
    .forlink:link { /* unvisited link */
        color: brown;
        text-decoration: none;
    }
    
    .forlink:visited { /* visited link */
        color: brown;
        text-decoration: none;
    }
    
    .forlink:hover { /* mouse over link */
        color: blue;
    }
    
    .forlink:active { /* selected link */
        color: rgb(9, 255, 0);
    } 

h1 {
    text-align: center;
    font-size: 44px
    
}

h2 {
    font-size: 33px
}

.names {
    font-size: 21px;
}